*~
*.*~
*.deps*
*.desktop
*.diff
*.gmo
*.i
*.la
*.libs*
*.lo
*.loT*
*.o
*.orig
*.patch
*.pc
*.schemas
*.svn*
aclocal*
autom4*
config.*
configure
data/*
depcomp
INSTALL
install-sh
intltool*
libnautilus-private/nautilus-marshal-guts.c
libnautilus-private/nautilus-marshal.h
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
nautilus*.in
nautilus.spec
po/*
src/.*
src/file-manager/.*
src/nautilus
src/nautilus-autorun-software
src/nautilus-connect-server
src/nautilus-file-management-properties
src/nautilus_shell_*
src/nautilus-shell-*
src/Nautilus_shell.server
stamp-h1
svn-commit*
valgrind.log

